<section class="sekcja-lista-elementow">
    <div class="kontener-lista-elementow">
        <div class="kolumna-przychody">
            <h1>przychody</h1>
            <div class="lista-elementow">
                <!-- iterujemy po wszystkich elementach tablicy poniżej  -->
                <div *ngFor="let element of TablicaElementow">  
                    <!-- styl poniżej rozdziela wiersze dodając margines od dolu -->
                    <!-- warunek przychod musi byc dodatni  -->
                <app-lista-elementow-karta
                *ngIf="element.ilosc >=0" 
                [element]="element"
                (XKlik)="MetodaKlikniecieUsun(element)"
                style="display: block; margin-bottom: 20px"></app-lista-elementow-karta>
                </div>
            </div>           
        </div>
        <div class="kolumna-wydatki">
            <h1>wydatki</h1>
            <div class="lista-elementow">
                <!-- iterujemy po wszystkich elementach tablicy poniżej  -->
                <div *ngFor="let element of TablicaElementow">  
                    <!-- styl poniżej rozdziela wiersze dodając margines od dolu -->
                    <!-- warunek wydatek musi być ujemny -->
                <app-lista-elementow-karta
                *ngIf="element.ilosc < 0" 
                  [element]="element"
                  (XKlik)="MetodaKlikniecieUsun(element)"
                style="display: block; margin-bottom: 20px"></app-lista-elementow-karta>
                </div>
            </div>
            
        </div>
    </div>
</section>
